
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#ffffff;
    color:#222;
    line-height:1.6;
}

header{
    background:#0D1B2A;
    color:#fff;
    position:sticky;
    top:0;
    z-index:1000;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 0;
}

.logo img{
    height:70px;
    width:auto;
    display:block;
}
nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:30px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

nav ul li a:hover{
    color:#F2A900;
}

.hero{
    background:linear-gradient(rgba(13,27,42,.75),rgba(13,27,42,.75)),url("../images/hero.jpg");
    background-size:cover;
    background-position:center;
    height:90vh;
    display:flex;
    align-items:center;
    color:white;
}

.hero-content{
    max-width:650px;
}

.hero h1{
    font-size:55px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    background:#F2A900;
    color:#0D1B2A;
    padding:14px 35px;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
}

section{
    padding:80px 0;
}

.title{
    text-align:center;
    margin-bottom:50px;
}

.title h2{
    font-size:40px;
    color:#0D1B2A;
}

.services{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.card{
    background:#fff;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,.1);
    text-align:center;
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    color:#0D1B2A;
    margin-bottom:15px;
}

footer{
    background:#0D1B2A;
    color:white;
    text-align:center;
    padding:25px;
}

@media(max-width:768px){

nav{
    flex-direction:column;
}

nav ul{
    flex-direction:column;
    margin-top:15px;
}

nav ul li{
    margin:10px 0;
}

.hero h1{
    font-size:38px;
}

.hero p{
    font-size:18px;
}

}
